* {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-image: url("../img/xml.PNG");
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.more-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.more-section h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.more-section h4 {
    margin-left: 50px;
    text-align: left;
    font-weight: lighter;
    margin-bottom: 20px;
}

.more-section p {
    text-align: justify;
}

.more-section a {
    text-decoration: none;
}

.more-section img {
    height: 100%;
    width: 100%;
}

.more-section code {
	display: block;
	box-sizing: border-box;
	max-width: 95%;
	margin: 4px auto 10pt auto;
	border: 3px double #888;
	border-radius: 15px;
	padding: 5px 10px 5px 40px;
	background-color: #fff;
    color: #000;
    font-weight: bold;
}

code span {
	color: red;
	font-weight: bold;
}

code .plava {
	color: blue;
	font-weight: bold;
}

code .zelena {
	color: green;
	font-weight: bold;
}

.more-section li {
    text-align: justify;
    margin-left: 50px;
}

.main-section {
    padding-bottom: 80px;
}

.main-section h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.main-section .btn {
    border: 2px solid #0458a1;
    background-color: #fff;
    color: #0458a1;
    transition: 0.2s;
    font-weight: bold;
} 

.main-section .btn:hover {
    border: 2px solid #0c5485;
    color: #fff;
    background-color: #0c5485;
    font-weight: bold;
} 

.main2-section {
    padding-bottom: 80px;
}

.main2-section h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.main2-section .btn {
    border: 2px solid #0458a1;
    background-color: #fff;
    color: #0458a1;
    transition: 0.2s;
    font-weight: bold;
} 

.main2-section .btn:hover {
    border: 2px solid #0c5485;
    color: #fff;
    background-color: #0c5485;
    font-weight: bold;
} 

.main-footer .text-foter {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

